aside ul {
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border-top: 1px ridge #adadad;
}

.aside ul li {
  margin-top: 0.3em;
  padding: 0.7em 0.7em 0 0.7em;
}
.time {
  margin-bottom: 1em;
}
