.App {
  max-height: 100vh;
  height: 100%;
}
.active {
  padding: 0 0.5em;
  background-color: #adadad;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.taskWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 520px) {
  .taskWrapper {
    grid-template-columns: 1fr;
    grid-column: 2 / span 2;
  }
}
.search {
  padding: 0.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 0.3em;
  outline: none;
}
 